
body {
    background-color: plum;
    color:whitesmoke;
    }
    
    .heading{
    width: 80%;
    font-size: 22px;
    }
    
    .name_of_objects,#objectname,#accuracy{
        color:teal;
    }
    
    #camera{
    border: 2px solid black;
    width: 350px;
    height: 300px;
    }